html,
body {
  font-family: 'Raleway';
  margin: 0;
  color: white;
}

.text-shadow {
  text-shadow: 5px 5px 2px black;
}

.floating-element {
  animation: float 6s ease-in-out infinite;
  width: min-content;
  height: min-content;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}
